.main .card {
  color: #fff;
  background-color: darkcyan;
  animation: spin 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    height: 60px;
    width: 150px;
    border-radius: 0;
  }

  33% {
    height: 60px;
    width: 300px;
    border-radius: 0;
  }

  66% {
    height: 300px;
    width: 300px;
    border-radius: 0;
    transform: rotate(0deg);
  }

  100% {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    transform: rotate(360deg);
    margin-left: 48%;
  }
}
